@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: #F0DB4F;
}

.app {
    background-color: #323330;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;

}

.app h1 {
    font-size: 25px;
    color: beige;
    font-weight: 600;
    border-bottom: 1px solid rgb(158, 158, 146);
    padding-bottom: 30px;

}

h1>span {
    color: #F0DB4F;
    font-size: 40px;

}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: antiquewhite;
    font-weight: 600;
}

.btn {
    background: antiquewhite;
    color: #323330;
    font-weight: 500;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;


}

.btn:hover([disabled]) {
    background: #323330;
    color: azure;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #F0DB4F;
    color: #323330;
    font-weight: 500;
    width: 150px;
    border: none;
    padding: 10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor:pointer;
    text-align: center;
    display: none;
}

.correct{
    background-color:#9aeabc ;
}

.incorrect{
    background-color: #ff9393;
}